

.petFriend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.petFriend img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
}

.userPet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.newPetFriend{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


@keyframes swing-bounce {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    25% { transform: translateY(-40px) rotate(-15deg); }
    50% { transform: translateY(0) rotate(0deg); }
    75% { transform: translateY(-40px) rotate(15deg); }
  }
  
  
.petFriendList{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.petFriendList img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
    
    display: block;
    margin: auto;
  
    /* animation: swing-bounce 6s infinite ease-in-out; */
}



